@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: #222;
    min-width: 370px;
    
}

a, button{
    cursor: pointer;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header{
    background: linear-gradient(0deg, hsl(0, 0%, 2%) 0%, hsla(0, 0%, 0%, 0) 70%),linear-gradient(180deg, hsl(0, 0%, 2%) 0%, rgba(255,255,255,0) 70%),
    url(img/foto1.jpg) no-repeat center center / cover;
}    

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3.5rem;
    padding-top: 1.5rem;
}

.logo img {
    width: 168px;
    position: relative;
    top: 4px;
}

.navigation-items{
    display: flex;
}

.opcion-pais{
    display: inline-block;
    margin-right: 30px;
    border: 1px solid #aaa;
    font-size: 15px;
    border-radius: 2px;
}

.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #999;
    padding: 4px 0;
}

.select-container i {
    padding-left: 5px;
}



.opcion-pais select {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,.4);
    border: none;
}

.opcion-pais select option{
    background-color: rgb(114, 114, 114);
}


.boton-sesion{
    display: flex;
    align-items: center;
}

.boton-sesion button{
    background-color: #F92C00;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
}
.boton-sesion a{
    text-decoration: none;
    font-size: 17px;
}

/* HERO */

.hero{
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.06206232492997199) 80%);
}

.img-fondo{
    z-index: 0;
    width: 100%;
    object-fit: cover;
}

.img-fondo img{
    width: 100%;
    height: 100%;
}

/*  */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 200px;
    text-align: center;
}

.main-text{
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    text-align: center;
}

.main-text h2 {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1.1;
    padding: 0 50px;
}

.main-text h4{
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 60px;
}

.main-text p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
}


.form{
    display: flex;
    justify-content: center;
    padding: 0 120px;
}

.form input{
    width: 100%;
    border: none;
    padding: 10px;
}

.form button {
    font-size: 1.7rem;
    font-weight: 300;
    background-color: #f40612;
    padding: 13px 30px;
    display: flex;
    align-items: center;
    border: none;
}

.form span{
    margin-right: 15px;
}

.form i{
    position: relative;
    top: 3px;
}

/* 

*/

section, footer{
    background-color: #000;
    margin: 8px 0;
    padding: 2em 10em;
}

.container-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.text-item{
    
}


.img-item{
    max-width: 530px;
    width: 100%;
}


.text-item h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 10px;
}

.text-item h2 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.1;
}

.img-representation{
    padding: 50px 30px;
    position: relative;
}

/* stranger thing img */
#ST-img{
    max-width: 250px;
}

.img-container{
    margin-right: 200px;
}


.card-animated {
    position: absolute;
    width: 100%;
    /* height: 80px; */
    background: #000;
    bottom: 70px;
    border-radius: 8px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0.5em 0.8em;
    border: 2px solid rgba(255,255,255,.25);
    box-shadow: 0 0 2em 0 #000;
}

.img-card {
    margin-right: 1em;
}

.img-card img{
    height: 5em;
}

.gif-animation img {
    height: 4em;
    width: 3.5em;
}

.text-card {
    flex-grow: 1;
}

.text-card .text-1{
    color: #fff;
    font-weight: 600;
}

.text-card .text-2{
    color: #0071eb;
    font-weight: 400;
}

#kids-sect-img{
    margin-right: 2em;
}

.frequently-questions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-questions {
    margin: 0 auto;
    max-width: 815px;
    width: 100%;
}

.text-main{
    text-align: center;
    font-size: 3.5em;
    font-weight: 500;
    padding: .2em 0;
    margin-bottom: 1em;
}

.question-card {
    display: flex;
    align-items: center;
    max-width: 815px;
    width: 100%;
    margin-bottom: 4px;
}

.question-card button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 25px;
    background: #333;
    text-align: start;
    font-size: 1.75em;
    font-weight: 300;
    border: none;
}

.form-container{
    max-width: 1000px;
    width: 100%;
}

.form-container, .form-container p{
    padding: 40px 0;
    text-align: center;
}


/* 



*/


.footer-container{
    margin:0 auto;
    max-width: 1000px;
}

.tel{
    padding: 1em 0;
}

.tel p{
    font-size: 1em;
}

.footer-container p, .footer-container a{
    color: #666;
}

.footer-container ul{
    list-style: none;
    margin: 20px 0

}


.footer-link-item {
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 16px;
    min-width: 100px;
    width: 30%;
    display: inline-block;
}

.lang-select{
    padding: 20px 0;
}


/* 



*/

@media only screen and (max-width:1400px){ 

    .main {
        padding: 150px 0;
    }

    .main-text {
        padding: 0 200px;
    }

    .container-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 20px 50px;
    }

}

@media only screen and (max-width:1250px){

    .logo img {
        width: 135px;
        position: relative;
        top: 4px;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px 0;
        margin: 0;
        text-align: center;
    }

    section, footer {
        padding: 2em 0;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
        text-align: center;
    }

    .form {
        display: flex;
        justify-content: center;
        padding: 0 200px;
    }

    .container-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 20px 50px;
    }

    .main-text h2 {
        font-size: 4rem;
        padding: 0 150px;
    }

    .footer-container {
        padding: 0 5em;
    }

}


@media only screen and (max-width:850px){

    .navigation {
        margin: 0 1em;
    }

    .main-text h2 {
        padding: 0;
    }

    .main-text p {
        padding: 0 80px;
    }

    .form{
        display: block;
        padding: 0 120px;
    }

    .form input {
        margin: 20px 0;
        padding: 1.2em;
    }

    .form button{
        padding: 10px 20px;
        margin: 0 auto;
    }

    .container-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 20px 50px;
    }

    .text-item {
        padding: 30px 0;
        text-align: center;
    }

    .img-container {
        margin: 0;
        order: 2;
    }

    #kids-sect-img {
        order: 2;
        margin: 0;
    }

    .question-card {
        padding: 0 50px;
        margin-bottom: 10px;
    }

    .footer-container {
        padding: 0 50px;
    }
  
}

@media all and (max-width:450px){
    

    .navigation {
        margin: 0 20px;
        padding: 1rem 0;
    }

    .logo img {
        width: 100px;
        position: relative;
        top: 4px;
    }

    .boton-sesion button {
        padding: 2px 5px;
    }

    .opcion-pais {
        margin-right: 10px;
        font-size: 12px;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        margin: 0;
        text-align: center;
    }

    .text-main {
        font-size: 2em;
    }

    .main-text h2 {
        font-size: 2rem;
    }

    .main-text h4 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 30px;
        margin: 10px 0;
    }

    .main-text p {
        padding: 0;
    }

    .form {
        display: block;
        padding: 0 20px;
    }

    .form button {
        padding: 5px 10px;
        font-size: 1.5rem;
    }

    .question-card button {
        font-size: 1.2em;
    }

    .container-content {
        padding: 20px 20px;
    }

    .text-item h1 {
        font-size: 2rem;
    }

    .text-item h2 {
        font-size: 1.2rem;
    }

    .question-card {
        padding: 0 20px;
    }

}